name: actions-pytest

on: [push]

jobs:
  test:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      - name: Test
        run: DOCKER_BUILDKIT=1 docker compose run app pytest
