name: actions-pytest

on:
  push:
    branches:
    - main
    - features/**
  pull_request:
    branches:
    - main
jobs:
  test:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build the stack
        run: docker-compose up -d
      - name: Test
        run: docker run --network container:app pytest
