name: actions-pytest

on: [push]
jobs:
  test:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build the stack
        env:
          COMPOSE_INTERACTIVE_NO_CLI: 1
        run: docker-compose -f "docker-compose.yml" up -d --build
      - name: Test
        env:
          COMPOSE_INTERACTIVE_NO_CLI: 1
        run: docker-compose exec -T app pytest
