name: test

on: [push]

jobs:
  test:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      - name: Test
        run: DOCKER_BUILDKIT=1 docker compose -f docker-compose.yml -f docker-compose.test.yml run test

      - name: Run performance benchmark
        run: DOCKER_BUILDKIT=1 docker compose -f docker-compose.yml -f docker-compose.perf.yml run perf
